body {
    overflow-x:hidden;
}

/* ------------------- Header section ------------------- */

/* --- nav bar --- */
.button_container {
    position: fixed;
    top: 20px;
    right: 45px;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 3;
    color: dodgerblue;
    font-size: 40px;
    transition: opacity 0.25s cubic-bezier(0.25, 0.15, 0.58, 1);
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 0.9;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}

    .overlay ul li {
        display: block;
        height: 25%;
        height: calc(100% / 4);
        min-height: 50px;
        position: relative;
        font-size: 2em;
        opacity: 1;
    }

        .overlay ul li a {
            display: block;
            position: relative;
            color: #fff;
            text-decoration: none;
            overflow: hidden;
        }

            .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
                width: 100%;
            }

            .overlay ul li a:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 0%;
                transform: translateX(-50%);
                height: 3px;
                background: #fff;
                transition: 0.35s;
            }



.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 45px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 20px;
        top: 15px;
        right: 35px;
    }
}

/* --- corosoul --- */
.hero-section {
    width: 100vw;
    height: 90vh;
    top: 0;
}

    .hero-section img {
        /*position: absolute;
        top: 0;
        left: 0;*/
        width: 98vw;
        height: 89vh;
        object-fit: cover;
    }

#svg {
    bottom: 0;
    left: 0;
    height: 20vh;
    z-index: 1;
    fill: white;
}

.header-area h2 {
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Perpetua;
    color: brown;
    font-size: 3.5em;
    z-index: 2;
}

    .header-area h2 span {
        color: chartreuse;
    }

/* quote */
@import url(https://fonts.googleapis.com/css?family=Lora);

.quote::before {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/80625/tree.jpg) fixed;
}

.quote {
    margin: 100px auto;
    position: relative;
    padding: 10px 5px;
    background: rgba(255, 255, 255, 0.3);
    font-size: 20px;
    font-family: 'Lora', serif;
    line-height: 1.5;
    border-radius: 15px;
    width: 60%;
    box-shadow: 5px 3px 30px black;
    overflow: hidden;
}

    .quote::before {
        content: '';
        margin: -35px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-filter: blur(20px);
        filter: blur(20px);
        z-index: -1;
    }

/* ------------------- SECTION 1 ------------------------ */

/* --- 2st col --- */

.intro-text {
    transition: all 0.5s ease-in-out;
    opacity: 0;
    transform: translateX(20px);
    color:aquamarine;
}

.intro-appear {
    opacity: 1;
    transform: translateX(0px);
}

/* ------------------- SECTION 2 ------------------------ */

/* --- parallax effect --- */

.parallax-window {
}

/* ------------------- SECTION 3 ------------------------ */

/* --- overlaping divs --- */


.box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8; /* for demo purpose  */
}

.stack-top {
    z-index: 0;
}

/* --- cude animation --- */

    .wrap {
    margin-top: 150px;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    z-index: -1;
}

.cube {
    transform-style: preserve-3d;
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
}

    .cube img {
        position: absolute;
        height: 200px;
        width: 200px;
        opacity: 0.7;
    }

        .cube img:nth-child(1) {
            transform: rotateY(0deg) translateZ(100px);
        }

        .cube img:nth-child(2) {
            transform: rotateY(90deg) translateZ(100px);
        }

        .cube img:nth-child(3) {
            transform: rotateY(180deg) translateZ(100px);
        }

        .cube img:nth-child(4) {
            transform: rotateY(-90deg) translateZ(100px);
        }

        .cube img:nth-child(5) {
            transform: rotateX(90deg) translateZ(100px);
        }

        .cube img:nth-child(6) {
            transform: rotateX(-90deg) translateZ(100px);
        }

@keyframes loop {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.cube {
    animation: loop 10s linear infinite;
}

.wrap:hover .cube {
    animation: looop 10s linear infinite;
}

/* ------------------- SECTION 3 ------------------------ */

/* --- card --- */

img {
    height: 150px;
    width: 100%;
}

div [class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.card {
    transition: 0.5s;
    cursor: pointer;
}

.card-title {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
}

    .card-title i {
        font-size: 15px;
        transition: 1s;
        cursor: pointer;
        color: #ffa710
    }

        .card-title i:hover {
            transform: scale(1.25) rotate(100deg);
            color: #18d4ca;
        }

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

.card-text {
    height: 80px;
}

.card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}

.card::before {
    transform-origin: left top;
}

.card::after {
    transform-origin: right bottom;
}

.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
}

/*------------------- ----------------------*/

/* --- timeline ---*/

.circle {
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 50%;
    background-color: dodgerblue;
    color: black;
    max-height: 50px;
    z-index: 2;
}


.timeline div {
    padding: 0;
    height: 40px;
}

.timeline hr {
    border-top: 3px solid dodgerblue;
    margin: 0;
    top: 17px;
    position: relative;
    border-style: dashed;
}

.timeline .col-2 {
    display: flex;
    overflow: hidden;
}

.timeline .corner {
    border: 3px solid dodgerblue;
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.timeline .top-right {
    left: 50%;
    top: -50%;
}

.timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
}

.timeline .top-left {
    left: -50%;
    top: -50%;
}

.timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
}

/* ------------------- FOOTER ------------------------ */

.hero {
    background: linear-gradient(45deg, brown, rgba(100,216,243,.7), rgba(234,236,198,.7), rgba(245,146,176,.7), rgba(52,219,216,.7)) 0 0 / 1000% no-repeat, url('https://blog.walkme.com/wp-content/uploads/2019/07/2.jpg') 0 0 / cover no-repeat;
    -webkit-animation: gradientAnimation 40s ease infinite;
    animation: gradientAnimation 40s ease infinite;
}

@-webkit-keyframes gradientAnimation {
    0% {
        background-position: 0% 30%, 0 0;
    }

    50% {
        background-position: 100% 70%, 0 0;
    }

    100% {
        background-position: 0% 30%, 0 0;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 30%, 0 0;
    }

    50% {
        background-position: 100% 70%, 0 0;
    }

    100% {
        background-position: 0% 30%, 0 0;
    }
}
